<!doctype html>
<script>
  
window.onload = function() {

  var dataPoints = [];
  
  var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    theme: "light2",
    title: {
      text: "Top Scorers"
    },
    axisY: {
      title: "Goals",
      titleFontSize: 24,
      includeZero: false
    },
    axisX: {
      title: "Players",
      titleFontSize: 24,
      includeZero: false,

    },
    data: [{
      type: "column",
      //yValueFormatString: "#,### Units",
      dataPoints: dataPoints
    }]
  });
  
  function addData(data) {
    for (var i = 0; i < data.length; i++) {
      dataPoints.push({
        label: data[i].Name,
        y: data[i].Goal
      });
    }
    chart.render();
  }
  
  $.getJSON("data", addData);
  
  }
  
</script>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="style.css" rel="stylesheet">
    <title>Player Stats!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      <a class="navbar-brand" href="#">FPS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" href="#">HOME <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/chart">CHART</a>
          <a class="nav-item nav-link" href="#">CONTACT</a>
        </div>
      </div>
    </nav>

    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <!------------jumbotron--------------------------------------------------------------------------------->
<section class="jumbotron text-center">
  <div class="container">
    <h3>Welcome to Live Football Statistics </h3>
    <p class="lead text-muted">This site contains live statistics of highest goal scorers of soccer players in this season of English Premier League</p>
    
  </div>
</section>
  </body>
</html>